body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1097px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1077px;
  height:499px;
}
#u202 {
  position:absolute;
  left:20px;
  top:0px;
  width:1077px;
  height:499px;
  color:#000000;
}
#u203 {
  position:absolute;
  left:2px;
  top:242px;
  width:1073px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:102px;
  top:78px;
  width:300px;
  height:22px;
}
#u204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u204_input:disabled {
  color:grayText;
}
#u205 {
  position:absolute;
  left:312px;
  top:151px;
  width:465px;
  height:229px;
  overflow:hidden;
  visibility:hidden;
}
#u205_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:229px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u205_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:230px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:230px;
}
#u207 {
  position:absolute;
  left:2px;
  top:107px;
  width:459px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
  text-align:center;
}
#u208 {
  position:absolute;
  left:201px;
  top:15px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#000000;
  text-align:center;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u210 {
  position:absolute;
  left:82px;
  top:48px;
  width:300px;
  height:96px;
  font-size:20px;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u205_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:229px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u205_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:230px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:230px;
}
#u213 {
  position:absolute;
  left:2px;
  top:107px;
  width:459px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
  text-align:center;
}
#u214 {
  position:absolute;
  left:201px;
  top:15px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#000000;
  text-align:center;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u216 {
  position:absolute;
  left:82px;
  top:48px;
  width:300px;
  height:96px;
  font-size:20px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u205_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:229px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u205_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
